.fc-toolbar-title {
  padding-left: 10px;
}

.fc-daygrid-day-top {
  flex-direction: row !important;
  padding-left: 5px;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: rgba(29, 155, 94, 0.2) !important;
}

.fc-daygrid-dot-event.fc-event-mirror,
.fc-daygrid-dot-event:hover {
  background: #d2f801;
}

.fc .fc-daygrid-more-link {
  font-size: small !important;
  width: 100%;
}

.fc .fc-daygrid-more-link:hover {
  background-color: #d2f801;
}

.fc-day-today {
  background-color: rgba(29, 155, 94, 0.2) !important;
}

.fc-v-event .fc-event-main {
  color: black;
}

.fc-timegrid-event-harness-inset .fc-timegrid-event,
.fc-timegrid-event.fc-event-mirror,
.fc-timegrid-more-link {
  border: none;
}

.fc-timegrid-col.fc-day-today {
  background-color: #fff !important;
}

.fc-timegrid-slot.fc-timegrid-slot-lane:not([data-time$=":00"]) {
  border-top: none !important;
}

.fc-v-event {
  background-color: rgba(29, 155, 94, 0.2);
}

.fc-theme-standard .fc-popover {
  background-color: white !important;
}

.fc .fc-timegrid-slot-minor {
  border-top-style: none;
}

.fc-next-button {
  background-color: rgb(29, 155, 94) !important;
  border: none !important;
}
.fc-prev-button {
  background-color: rgb(29, 155, 94) !important;
  border: none !important;
}
.fc-today-button {
  background-color: white !important;
  border: none !important;
  color: black !important;
  text-transform: capitalize !important;
  cursor: pointer !important;
}