@import '@mantine/notifications/styles.css';

#root {
  background-color: #efeded;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 1600px) {
  body {
    background-color: #fafafa;
  }
}